details
  summary About
  .inner
    dl.desc
      dt.desc-header Name
      dd.desc-body
        a(href="https://sites.google.com/site/8th713lab/Home/chrome/pixivviewer") pixivViewer
        | &nbsp;-&nbsp;#{version}
    dl.desc
      dt.desc-header Author
      dd.desc-body
        a(href="http://twitter.com/8th_713") 8th713
        | &nbsp;-&nbsp;
        a(href="mailto:8th713@gmail.com") 8th713@gmail.com
    dl.desc
      dt.desc-header Library and Framework
      dd.desc-body
        a(href="http://angularjs.org") AngularJS
        | &nbsp;-&nbsp;
        a(href="https://github.com/angular/angular.js/blob/master/LICENSE") MIT License
      dd.desc-body
        a(href="http://lodash.com/") Lo-Dash
        | &nbsp;-&nbsp;
        a(href="https://github.com/bestiejs/lodash/blob/master/LICENSE.txt") MIT License
    dl.desc
      dt.desc-header Fonts
      dd.desc-body
        a(href="http://fortawesome.github.io/Font-Awesome/") Font Awesome
        | &nbsp;-&nbsp;
        a(href="http://fortawesome.github.io/Font-Awesome/license/") SIL OFL 1.1
      dd.desc-body scissored by&nbsp;
        a(href="http://fontello.com/") Fontello
