details
  summary Shortcuts
  .inner
    table
      tr
        td 次の画像へ移動
        td
          kbd Enter
          kbd J
      tr
        td 次の作品へ移動
        td
          kbd Ctrl + Enter
          kbd Ctrl + J
      tr
        td 前の画像へ移動
        td
          kbd Shift + Enter
          kbd K
      tr
        td 前の作品へ移動
        td
          kbd Shift + Ctrl + Enter
          kbd Ctrl + K
      tr
        td 下にスクロール
        td
          kbd Space
      tr
        td 上にスクロール
        td
          kbd Shift + Space
      tr
        td パネル表示切り替え
        td
          kbd H
      tr
        td 画像表示切り替え
        td
          kbd F
      tr
        td ブクマフォーム表示
        td
          kbd B
      tr
        td コメント表示
        td
          kbd C
      tr
        td 画像を保存
        td
          kbd D
      tr
        td 10点つける
        td
          kbd S
      tr
        td Twitter へ投稿
        td
          kbd T
      tr
        td 設定
        td
          kbd ?
      tr
        td 各種ダイアログを閉じる
        td
          kbd ESC
