div(ng-controller="OptionCtrl")
  .PV-option.PV-overlay(ng-show="showOpt")
    .PV-dialog
      .PV-dialog-header
        h4.PV-dialog-title オプション
        button.PV-close(ng-click="hide()")
      .PV-dialog-body
        include config
        include help
        include about
  button.PV-icon(
    data-option="",
    ng-click="show()",
    title='設定')
