div.PV-option(ng-show="showOpt")
  div.PV-box
    div.PV-box-inner
      include config
      include help
      include about
    input.close(
      type="button",
      ng-click="showOpt = false"
      value="&times;")
button(data-show-config="", ng-click="showOpt = true", title='設定')
