.PV-data.PV-questionnaire(
  ng-controller="QuestionnaireCtrl"
  ng-show="!model.myPage && model.questionnaire && config.qrEnabled")
  .PV-question {{ model.questionnaire.question }}
  table.PV-stats(ng-class="{answered: model.questionnaire.answered}")
    tbody
      tr(ng-repeat="stat in model.questionnaire.stats")
        th
          button.text(
            ng-class="{active: stat.active}"
            ng-click="answer(stat)") {{ stat.name }}
        td {{ stat.count }}
