
.icon-to-end:before { content: '\e001'; } /* '' */
.icon-to-start:before { content: '\e000'; } /* '' */
.icon-star:before { content: '\e00d'; } /* '' */
.icon-check:before { content: '\e004'; } /* '' */
.icon-heart:before { content: '\e005'; } /* '' */
.icon-cog:before { content: '\e007'; } /* '' */
.icon-info-circled:before { content: '\e008'; } /* '' */
.icon-tags:before { content: '\e00a'; } /* '' */
.icon-comment:before { content: '\e00b'; } /* '' */
.icon-chat:before { content: '\e00c'; } /* '' */
.icon-resize-full:before { content: '\e002'; } /* '' */
.icon-resize-small:before { content: '\e003'; } /* '' */
.icon-twitter:before { content: '\e010'; } /* '' */
.icon-filter:before { content: '\e00f'; } /* '' */
.icon-ok-squared:before { content: '\e011'; } /* '' */
.icon-sort-alt-down:before { content: '\e00e'; } /* '' */
.icon-thumbs-up:before { content: '\e009'; } /* '' */
.icon-download:before { content: '\e006'; } /* '' */