.PV-panel {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  .flexbox;
  .flex-flow;
  max-height: 100%;

  background-color: rgba(0, 0, 0, .7);
  transition: right .2s;
}

.PV-ctrl {
  position: absolute;
  top: 0;
  left: -@icon-size;
  width: @icon-size;

  border-radius: 4px 0 0 4px;
  background-color: rgba(0, 0, 0, .7);
}

.PV-tool {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .flex;

  border-bottom: 1px solid @gray-20;
  padding: 0 0 0 20px;

  .PV-icon {
    float: left;
  }
}
