.PVS {
  -webkit-appearance: none;
          appearance: none;

  display: inline-block;
  padding: 0 10px;
  line-height: 38px;

  color: #258fb8;
  font-family: @base-font;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &:after {
    content: '昇順';
  }

  &:checked:after {
    content: '降順';
  }
}

