.container.PV-help(ng-style="{width:config.width+'px'}")
  .panel-header ヘルプ
  .panel-content
    h4 Shortcuts
    table
      tr
        td 次の画像へ移動
        td
          kbd Enter
          kbd J
      tr
        td 次の作品へ移動
        td
          kbd Ctrl + Enter
          kbd Ctrl + J
      tr
        td 前の画像へ移動
        td
          kbd Shift + Enter
          kbd K
      tr
        td 前の作品へ移動
        td
          kbd Shift + Ctrl + Enter
          kbd Ctrl + K
      tr
        td 下にスクロール
        td
          kbd Space
      tr
        td 上にスクロール
        td
          kbd Shift + Space
      tr
        td 画像表示切り替え
        td
          kbd F
      tr
        td 10点つける
        td
          kbd S
      tr
        td 画像を保存
        td
          kbd D
      tr
        td Twitter へ投稿
        td
          kbd T
      tr
        td 作品情報表示
        td
          kbd H
      tr
        td ブクマフォーム表示
        td
          kbd B
      tr
        td コメント表示
        td
          kbd C
      tr
        td ヘルプ
        td
          kbd ?

    h4 About
    dl
      dt Name
      dd
        a(href="https://sites.google.com/site/8th713lab/Home/chrome/pixivviewer") pixivViewer
        | &nbsp;-&nbsp;#{version}
    dl
      dt Author
      dd
        a(href="http://twitter.com/8th_713") 8th713
        | &nbsp;-&nbsp;
        a(href="mailto:8th713@gmail.com") 8th713@gmail.com
    dl
      dt Library and Framework
      dd
        a(href="http://angularjs.org") AngularJS
        | &nbsp;-&nbsp;
        a(href="https://github.com/angular/angular.js/blob/master/LICENSE") MIT License
      dd
        a(href="http://lodash.com/") Lo-Dash
        | &nbsp;-&nbsp;
        a(href="https://github.com/bestiejs/lodash/blob/master/LICENSE.txt") MIT License
    dl
      dt Fonts
      dd
        a(href="http://fortawesome.github.io/Font-Awesome/") Font Awesome
        | &nbsp;-&nbsp;
        a(href="http://fortawesome.github.io/Font-Awesome/license/") SIL OFL 1.1
      dd scissored by&nbsp;
        a(href="http://icomoon.io/app") IcoMoon App
